@media screen and (min-width: 1100px) {
  .root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'APACfont';
  }
  .root .box1 {
    width: 100%;
    height: 100%;
  }
  .root .box1 .box1-top {
    width: 100%;
    height: 600px;
    background-image: url('../resources/imgs/proxyBrand/0000.png');
    background-size: 100% 100%;
  }
  .root .box1 .box1-top .box1-top-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  .root .box1 .box1-top .box1-top-header .box1-top-header-logo {
    margin-top: 3vw;
    margin-left: 15vw;
  }
  .root .box1 .box1-top .box1-top-header .box1-top-header-logo img {
    width: 80%;
  }
  .root .box1 .box1-top .box1-top-header .box1-top-header-logo-aa {
    margin-right: 19vw;
  }
  .root .box1 .box1-top .box1-top-header .box1-top-header-logo-aa a {
    font-size: 16px;
    margin: 1vw;
  }
  .root .box1 .box1-top .box1-top-header .box1-top-header-app {
    display: none;
  }
  .root .box1 .box1-top .box1-top-main-app {
    display: none;
  }
  .root .box1 .box1-top .box1-top-main {
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .root .box1 .box1-top .box1-top-main .box1-top-main-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .root .box1 .box1-top .box1-top-main .box1-top-main-left .box1-top-main-left-img1 {
    width: 350px;
  }
  .root .box1 .box1-top .box1-top-main .box1-top-main-left .box1-top-main-left-img2 {
    width: 460px;
    margin-top: 25px;
  }
  .root .box1 .box1-cnt {
    background-image: url(../resources/imgs/index/0092.png);
    background-size: 100% 100%;
    width: 100vmin;
    margin: 0 auto;
    position: relative;
    padding: 15px;
    box-shadow: 0px 3px 5px #eee;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    margin-top: -150px;
    align-items: center;
  }
  .root .box1 .box1-cnt img {
    width: auto;
    height: min-content;
    margin: 5px 8px;
  }
  .root .box1 .box1-bot-app {
    display: none;
  }
  .root .box1 .box1-bot {
    width: 100%;
    height: 320px;
    text-align: center;
  }
  .root .box1 .box1-bot .box1-bot-head {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
  }
  .root .box1 .box1-bot .box1-bot-cen {
    width: auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-direction: row;
  }
  .root .box1 .box1-bot .box1-bot-cen img:nth-child(1) {
    margin-left: 25px;
  }
  .root .box1 .box1-bot .box1-bot-cen img:nth-child(2) {
    margin-left: -85px;
  }
  .root .box1 .box1-bot .box1-bot-cen img:nth-child(3) {
    margin-left: -80px;
  }
  .root .box1 .box1-bot .box1-bot-bot {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  .root .box1 .box1-bot .box1-bot-bot .box1-bot-bot-a {
    margin-top: -35px;
  }
  .root .box6 {
    width: 100%;
    height: 400px;
    background-image: url('../resources/imgs/index/0029.png');
    background-size: 100% 100%;
  }
  .root .box6 .box6-top {
    width: 100%;
    height: 330px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .root .box6 .box6-top .box6-top-one {
    border-right: 1px solid #eee;
    margin: 0 40px;
    display: flex;
    flex-direction: column;
  }
  .root .box6 .box6-top .box6-top-one img:nth-child(3) {
    display: none;
  }
  .root .box6 .box6-top .box6-top-one img {
    width: 150px;
  }
  .root .box6 .box6-top .box6-top-one img:nth-child(2) {
    margin-top: 15px;
  }
  .root .box6 .box6-top .box6-top-two {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
  }
  .root .box6 .box6-top .box6-top-two img {
    width: 150px;
    margin: 10px;
  }
  .root .box6 .box6-top .box6-top-two img:nth-child(1) {
    width: 70px;
  }
  .root .box6 .box6-top .box6-top-three {
    display: flex;
    flex-direction: column;
  }
  .root .box6 .box6-top .box6-top-three img {
    width: 150px;
    margin: 10px;
  }
  .root .box6 .box6-top .box6-top-three img:nth-child(1) {
    width: 70px;
  }
  .root .box6 .box6-top .box6-top-four {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
  }
  .root .box6 .box6-top .box6-top-four img {
    width: 70px;
    margin: 3px;
  }
  .root .box6 .box6-bot {
    width: 100%;
    height: 70px;
    background-image: url('../resources/imgs/index/0045.png');
    background-size: 100% 100%;
    display: flex;
    justify-content: space-around;
    line-height: 70px;
    color: #fff;
    font-size: 14px;
  }
  .root .box6 .box6-bot a {
    margin: 0 10px;
  }
}
