@media screen and (min-width: 1100px) {
  .root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url('../resources/imgs/index/0096.png');
  }
  .root .box1 {
    width: 100%;
    height: 100%;
  }
  .root .box1 .box1-top {
    width: 100%;
    height: 600px;
    background-image: url('../resources/imgs/proxyBrand/0000.png');
    background-size: 100% 100%;
  }
  .root .box1 .box1-top .box1-top-header-app {
    display: none;
  }
  .root .box1 .box1-top .box1-top-header {
    height: 60px;
    display: flex;
    justify-content: space-around;
    line-height: 60px;
    padding: 0 60px;
  }
  .root .box1 .box1-top .box1-top-header .box1-top-header-logo img {
    width: 80%;
    margin-top: 40px;
    margin-left: 15%;
  }
  .root .box1 .box1-top .box1-top-header .box1-top-header-logo-aa {
    margin-top: 45px;
    margin-left: -12%;
  }
  .root .box1 .box1-top .box1-top-header .box1-top-header-logo-aa a {
    font-size: 14px;
    margin: 20px;
  }
  .root .box1 .box1-top .box1-top-main-app {
    display: none;
  }
  .root .box1 .box1-top .box1-top-main {
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .root .box1 .box1-top .box1-top-main .box1-top-main-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .root .box1 .box1-top .box1-top-main .box1-top-main-left .box1-top-main-left-img1 {
    width: 350px;
  }
  .root .box1 .box1-top .box1-top-main .box1-top-main-left .box1-top-main-left-img2 {
    width: 460px;
    margin-top: 25px;
  }
  .root .box1 .box1-cnt {
    background-image: url(../resources/imgs/index/0092.png);
    background-size: 100% 100%;
    width: 100vmin;
    margin: 0 auto;
    position: relative;
    padding: 15px;
    box-shadow: 0px 3px 5px #eee;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    margin-top: -150px;
    align-items: center;
  }
  .root .box1 .box1-cnt img {
    width: auto;
    height: min-content;
    margin: 5px 8px;
  }
  .root .box1 .box1-bot-app {
    display: none;
  }
  .root .box1 .box1-bot {
    width: 100%;
    height: 320px;
    text-align: center;
  }
  .root .box1 .box1-bot .box1-bot-head {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
  }
  .root .box1 .box1-bot .box1-bot-cen {
    width: auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-direction: row;
  }
  .root .box1 .box1-bot .box1-bot-cen img:nth-child(1) {
    margin-left: 25px;
  }
  .root .box1 .box1-bot .box1-bot-cen img:nth-child(2) {
    margin-left: -85px;
  }
  .root .box1 .box1-bot .box1-bot-cen img:nth-child(3) {
    margin-left: -80px;
  }
  .root .box1 .box1-bot .box1-bot-bot {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  .root .box1 .box1-bot .box1-bot-bot .box1-bot-bot-a {
    margin-top: -35px;
  }
  .root .box6 {
    width: 100%;
    height: 400px;
    background-image: url('../resources/imgs/index/0029.png');
    background-size: 100% 100%;
  }
  .root .box6 .box6-top {
    width: 100%;
    height: 330px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .root .box6 .box6-top .box6-top-one {
    border-right: 1px solid #eee;
    margin: 0 40px;
    display: flex;
    flex-direction: column;
  }
  .root .box6 .box6-top .box6-top-one img:nth-child(3) {
    display: none;
  }
  .root .box6 .box6-top .box6-top-one img {
    width: 150px;
  }
  .root .box6 .box6-top .box6-top-one img:nth-child(2) {
    margin-top: 15px;
  }
  .root .box6 .box6-top .box6-top-two {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
  }
  .root .box6 .box6-top .box6-top-two img {
    width: 150px;
    margin: 10px;
  }
  .root .box6 .box6-top .box6-top-two img:nth-child(1) {
    width: 70px;
  }
  .root .box6 .box6-top .box6-top-three {
    display: flex;
    flex-direction: column;
  }
  .root .box6 .box6-top .box6-top-three img {
    width: 150px;
    margin: 10px;
  }
  .root .box6 .box6-top .box6-top-three img:nth-child(1) {
    width: 70px;
  }
  .root .box6 .box6-top .box6-top-four {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
  }
  .root .box6 .box6-top .box6-top-four img {
    width: 70px;
    margin: 3px;
  }
  .root .box6 .box6-bot {
    width: 100%;
    height: 70px;
    background-image: url('../resources/imgs/index/0045.png');
    background-size: 100% 100%;
    display: flex;
    justify-content: space-around;
    line-height: 70px;
    color: #fff;
    font-size: 14px;
  }
  .root .box6 .box6-bot a {
    margin: 0 10px;
  }
}
@media screen and (min-width: 320px) and (max-width: 1100px) {
  .root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url('../resources/imgs/proxyBrand/0011.png');
  }
  .root .box1 {
    width: 100%;
    height: 260vw;
  }
  .root .box1 .box1-top {
    width: 100%;
    height: 130vw;
    background-image: url('../resources/imgs/proxyBrand/0012.png');
    background-size: 100% 100%;
  }
  .root .box1 .box1-top .box1-top-header {
    height: 8vw;
    display: flex;
    justify-content: space-between;
    line-height: 8vw;
    padding: 0 2.667vw;
  }
  .root .box1 .box1-top .box1-top-header .box1-top-header-logo img {
    width: 30vw;
    margin-top: 10vw;
    margin-left: 5vw;
  }
  .root .box1 .box1-top .box1-top-header .box1-top-header-app {
    display: block;
    margin-top: 6vw;
    /* Style the dropdown content */
  }
  .root .box1 .box1-top .box1-top-header .box1-top-header-app .box1-top-header-app-img {
    width: 6vw;
    margin-top: 5vw;
    margin-right: 8vw;
  }
  .root .box1 .box1-top .box1-top-header .box1-top-header-app .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 21.333vw;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    transform: scale(1.1);
    transform-origin: top;
    border-radius: 0.6vw;
    margin-left: -20vw;
  }
  .root .box1 .box1-top .box1-top-header .box1-top-header-app .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .root .box1 .box1-top .box1-top-header .box1-top-header-app .dropdown-content a:hover {
    background-color: #ddd;
  }
  .root .box1 .box1-top .box1-top-header .box1-top-header-logo-aa {
    display: none;
  }
  .root .box1 .box1-top .box1-top-main {
    display: none;
  }
  .root .box1 .box1-top .box1-top-main-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .root .box1 .box1-top .box1-top-main-app img:nth-child(1) {
    width: 70vw;
    margin-top: 40vw;
  }
  .root .box1 .box1-top .box1-top-main-app img:nth-child(2) {
    width: 80vw;
    margin-top: 5vw;
  }
  .root .box1 .box1-bot {
    display: none;
  }
  .root .box1 .box1-cnt {
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 2vw;
    padding: 1.067vw;
    box-shadow: 0vw 0.4vw 0.667vw #eee;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    border-radius: 0.667vw;
    color: #f9f9f9;
    margin-top: -23vw;
    background-color: #f9f9f9;
  }
  .root .box1 .box1-cnt img {
    width: 20vw;
    height: min-content;
    margin: 0.667vw 1.067vw;
  }
  .root .box1 .box1-cnt img:nth-child(5) {
    width: 16vw;
  }
  .root .box1 .box1-cnt img:nth-child(6) {
    width: 18.5vw;
  }
  .root .box1 .box1-cnt img:nth-child(7) {
    width: 25vw;
  }
  .root .box1 .box1-cnt img:nth-child(8) {
    width: 18vw;
  }
  .root .box1 .box1-cnt img:nth-child(11) {
    width: 40vw;
  }
  .root .box1 .box1-bot-app {
    height: 66.667vw;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 20vw;
  }
  .root .box1 .box1-bot-app .box1-bot-app-1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 5vw;
    align-items: center;
    margin-left: 10vw;
  }
  .root .box1 .box1-bot-app .box1-bot-app-1 img:nth-child(1) {
    width: 16vw;
  }
  .root .box1 .box1-bot-app .box1-bot-app-1 img:nth-child(2) {
    margin-left: 5vw;
    width: 50vw;
  }
  .root .box1 .box1-bot-app .box1-bot-app-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 5vw;
    align-items: center;
    margin-left: 10vw;
  }
  .root .box1 .box1-bot-app .box1-bot-app-2 img:nth-child(1) {
    width: 16vw;
  }
  .root .box1 .box1-bot-app .box1-bot-app-2 img:nth-child(2) {
    margin-left: 5vw;
    width: 60vw;
  }
  .root .box1 .box1-bot-app .box1-bot-app-3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 5vw;
    align-items: center;
    margin-left: 10vw;
  }
  .root .box1 .box1-bot-app .box1-bot-app-3 img:nth-child(1) {
    width: 16vw;
  }
  .root .box1 .box1-bot-app .box1-bot-app-3 img:nth-child(2) {
    margin-left: 5vw;
    width: 60vw;
  }
  .root .box1 .box1-bot-app .box1-bot-app-bot {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0VW;
    margin-top: 15vw;
  }
  .root .box1 .box1-bot-app .box1-bot-app-bot a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .root .box1 .box1-bot-app .box1-bot-app-bot a img:nth-child(1) {
    width: 30vw;
  }
  .root .box1 .box1-bot-app .box1-bot-app-bot a img:nth-child(2) {
    margin-top: -7.8vw;
    width: 20vw;
  }
  .root .box6 {
    width: 100%;
    height: 130vw;
    background-image: url('../resources/imgs/index/0029.png');
    background-size: 100% 100%;
  }
  .root .box6 .box6-top {
    width: 100%;
    height: 120vw;
    display: flex;
    flex-direction: column;
  }
  .root .box6 .box6-top .box6-top-one {
    border-right: 0.133vw solid #eee;
    display: flex;
    flex-direction: column;
    margin: 2.667vw;
    margin-top: 4vw;
  }
  .root .box6 .box6-top .box6-top-one img {
    width: 40vw;
    margin-top: 6vw;
  }
  .root .box6 .box6-top .box6-top-one img:nth-child(2) {
    display: none;
  }
  .root .box6 .box6-top .box6-top-one img:nth-child(3) {
    width: 65vw;
  }
  .root .box6 .box6-top .box6-top-two {
    display: flex;
    flex-direction: column;
    margin-right: 5.333vw;
    margin: 2.667vw;
  }
  .root .box6 .box6-top .box6-top-two img {
    margin: 1.333vw;
  }
  .root .box6 .box6-top .box6-top-two img:nth-child(1) {
    width: 20vw;
  }
  .root .box6 .box6-top .box6-top-two img:nth-child(2) {
    width: 55vw;
  }
  .root .box6 .box6-top .box6-top-two img:nth-child(3) {
    display: none;
  }
  .root .box6 .box6-top .box6-top-three {
    display: flex;
    flex-direction: column;
    margin: 2.667vw;
  }
  .root .box6 .box6-top .box6-top-three img {
    width: 40vw;
    margin: 1.333vw;
  }
  .root .box6 .box6-top .box6-top-three img:nth-child(1) {
    width: 20vw;
  }
  .root .box6 .box6-top .box6-top-four {
    display: flex;
    flex-direction: column;
    margin: 0 5.333vw;
    position: relative;
    top: -42.333vw;
    right: -70vw;
  }
  .root .box6 .box6-top .box6-top-four img {
    width: 16vw;
    margin: 0.4vw;
  }
  .root .box6 .box6-bot {
    width: 100%;
    height: 8vw;
    background-image: url(../resources/imgs/index/0045.png);
    background-size: 100% 100%;
    display: flex;
    justify-content: space-around;
    line-height: 8vw;
    color: #fff;
    position: relative;
    font-size: 2.6vw;
    bottom: -2vw;
  }
  .root .box6 .box6-bot a {
    margin: 0 1.333vw;
  }
}
