<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >
		<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telphone=no, email=no, address=no" >
		
		<title>大麋鹿(dmilu.com)</title>
		<!-- LOGO -->
		<link rel="shortcut icon" href="../image/icon.png" />
		
		<link rel="stylesheet" type="text/css" href="../css/style.css"/>
		<link rel="stylesheet" type="text/css" href="../css/swiper.min.css"/>
	</head>
	<body>
		<audio autoplay loop>
			<source src="../audio/在一起.mp3" />
		</audio>
		<!--导航-->
		<div class="head">
			<div class="left">
				<img src="../image/icon.png"/>
				<span>大麋鹿</span>
			</div>
			<ul class="list">
				<li><a href="../index.html">首页</a></li>
				<li><a href="##">爱情墙</a></li>
				<li><a href="##">小浪漫</a></li>
				<li><a href="##">表白墙</a></li>
				<li><a href="##">恩爱贴</a></li>
			</ul>	
			<div class="right">
				<p>客户服务热线</p>
				<p><span>Live Chat</span>&nbsp;&nbsp;17600015918</p>
			</div>
		</div>
		<div class="biao">
        <div class="box">
            <h3>听说，在这里表白的都会成功哦！</h3>
            <div class="con">
                <input type="text" id="ipt">
                <div id="list">
                    <img src="../image/1.jpg"/>
                    <img src="../image/2.jpg"/>
                    <img src="../image/3.jpg"/>
                    <img src="../image/4.jpg"/>
                    <img src="../image/5.jpg"/>
                    <img src="../image/6.jpg"/>
                    <img src="../image/7.jpg"/>
                    <img src="../image/8.jpg"/>
                </div>
            </div>
            <textarea id="text" maxlength="140"></textarea>
            <div class="pp">
                <p>还能输入<span id="sp">140</span>个字</p>
                <button id="btn">留下足迹</button>
            </div>
            <div class="aa"><a>大家都在说</a></div>
            <div class="cons" id="cons">
                <dl>
                    <dt><img src="../image/1.jpg"></dt>
                    <dd>
                        <h4>夏:我想和你在一起！</h4>
                        <h5>07月13日&nbsp;13:14</h5>
                    </dd>
                    <em>删除</em>
                </dl>
            </div>
        </div>
    </div>
    <script src="../js/demo.js"></script>
	</body>
</html>
